.small-scroll-box {
            height: 300px;
            overflow-y: auto;
            border: 1px solid #888;
            border-radius: 10px;
            background-color: #111;
            width: 1200px;
        }
.meow {
        yes: true;
}
.img-small{
    width:100px;
    height:38px;
}
.wrap-text {
  max-width: 30ch;
  white-space: normal;
  overflow-wrap: break-word;
}
.header-row {
    display: flex;
    width: 950px;
    justify-content: space-between;
    font-weight: bold;
    padding: 0 20px;
}
ol {
    padding-left: 3px;
}
